<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            height:10vh ;
            background-color: rgba(0, 0, 0, 0.659);
        }
        nav h1{
            color: white;
            font-family: 'Times New Roman', Times, serif;
        }
        .home{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65vh;
        }
        img{
            padding-left:10rem ;
        }
        p{
            padding-right: 15rem;
            padding-bottom: 4rem;
          font-size: 20px;
        }
        .button-24 {
            background: #FF4742;
            border: 1px solid #FF4742;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
            font-size: 16px;
            font-weight: 800;
            line-height: 16px;
            min-height: 40px;
            outline: 0;
            padding: 12px 14px;
            text-align: center;
            text-rendering: geometricprecision;
            text-transform: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            }

            .button-24:hover,
            .button-24:active {
            background-color: initial;
            background-position: 0 0;
            color: #FF4742;
            }

            .button-24:active {
            opacity: .5;
            }
        
    </style>
</head>
<body>
    <div class="">
        <nav>
            <h1>XYZ PUBLIC SCHOOL</h1>
        </nav>
    </div>
    <h1 style="text-align: center; margin-top: 15vh; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome to Student-Teacher Appointment Booking System</h1>
    <div  class="home">
        <div style="width: 50%;" class="">
                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL5dk45Ky215dXArdV07P8tixAHRueXdvZLQ&s" alt="" width="500px" height="350px">

        </div>
        <div style="width: 50%;" class="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nemo labore blanditiis consectetur autem corporis cupiditate, minima omnis commodi, repellendus quasi ut amet possimus inventore deleniti laborum optio est. Repellendus.</p>
            <a href="/login"><button class="button-24" role="button">Login</button></a>
            <a href="/signup"><button class="button-24" role="button">Signup Student</button></a>
        </div>
    </div>
</body>
</html>

